{%extends 'blog/base_admin.html'%}
{%block content%}
<div class="row">
  <div class="col s12 m6 offset-m3 l4 offset-l4">
    <div class="card black-text">
      <form method="POST">{% csrf_token %}
      <div class="card-content">
        <center><span class="card-title">Agregar editorial</span></center>
        <br>
        {{ formulario.non_field_errors }}
        <div class="input-field">
            {{ formulario.nombre.errors }}
            <label for="{{ formulario.nombre.id_for_label }}">Nombre</label>
            {{ formulario.nombre }}
        </div>
        <div class="input-field">
            {{ formulario.direccion.errors }}
            <label for="{{ formulario.direccion.id_for_label }}">Direccion</label>
            {{ formulario.direccion }}
        </div>
        <div class="input-field">
            {{ formulario.ciudad.errors }}
            <label for="{{ formulario.ciudad.id_for_label }}">Ciudad</label>
            {{ formulario.ciudad }}
        </div>
        <div class="input-field">
            {{ formulario.estado_provincia.errors }}
            <label for="{{ formulario.estado_provincia.id_for_label }}">Estado/Provincia</label>
            {{ formulario.estado_provincia }}
        </div>
        <div class="input-field">
            {{ formulario.pais.errors }}
            <label for="{{ formulario.pais.id_for_label }}">Pais</label>
            {{ formulario.pais }}
        </div>
        <div class="input-field">
            {{ formulario.sitioweb.errors }}
            <label for="{{ formulario.sitioweb.id_for_label }}">Sitio web</label>
            {{ formulario.sitioweb }}
        </div>
        <center><button class="btn waves-effect red darken-1" type="submit">Guardar</button> <a href="/" class="btn waves-effect red darken-1">Cancelar</a></center>
      </div>
      <div class="card-action">
        <p ><center class="red-text">{{ mensaje }}</center></p>
      </div>
      </form>
    </div>
  </div>
</div>
{%endblock%}
