<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <title>Biblioteca</title>
  <script type="text/javascript">
  $(function(){
    $('ul.tabs').tabs();
    $(".button-collapse").sideNav();
    $('select').material_select();
    $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: true, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    });
  });
  </script>
</head>
<body>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/administrador/autores/agregar_autor">Agregar</a></li>
    <li class="divider"></li>
    <li><a href="/administrador/autores/listado">Listar</a></li>
    <li class="divider"></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="/administrador/editoriales/agregar_editorial">Agregar</a></li>
    <li class="divider"></li>
    <li><a href="/administrador/editoriales/listado">Listar</a></li>
    <li class="divider"></li>
  </ul>
  <ul id="dropdown3" class="dropdown-content">
    <li><a href="/administrador/libros/agregar_libro">Agregar</a></li>
    <li class="divider"></li>
    <li><a href="/administrador/libros/listado">Listar</a></li>
    <li class="divider"></li>
  </ul>
  <ul id="dropdown4" class="dropdown-content">
    <li><a href="/administrador/usuarios/agregar_usuario">Agregar</a></li>
    <li class="divider"></li>
    <li><a href="/administrador/usuarios/listado">Listar</a></li>
    <li class="divider"></li>
  </ul>
  <ul id="dropdown5" class="dropdown-content">
    <li><a href="/administrador/autores/agregar_autor">Agregar</a></li>
    <li class="divider"></li>
    <li><a href="/administrador/autores/listado">Listar</a></li>
    <li class="divider"></li>
  </ul>
  <ul id="dropdown6" class="dropdown-content">
    <li><a href="/administrador/editoriales/agregar_editorial">Agregar</a></li>
    <li class="divider"></li>
    <li><a href="/administrador/editoriales/listado">Listar</a></li>
    <li class="divider"></li>
  </ul>
  <ul id="dropdown7" class="dropdown-content">
    <li><a href="/administrador/libros/agregar_libro">Agregar</a></li>
    <li class="divider"></li>
    <li><a href="/administrador/libros/listado">Listar</a></li>
    <li class="divider"></li>
  </ul>
  <ul id="dropdown8" class="dropdown-content">
    <li><a href="/administrador/usuarios/agregar_usuario">Agregar</a></li>
    <li class="divider"></li>
    <li><a href="/administrador/usuarios/listado">Listar</a></li>
    <li class="divider"></li>
  </ul>
  <nav>
    <div class="nav-wrapper indigo">
      <a href="#!" class="brand-logo">Biblioteca</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Autores<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Editoriales<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Libros<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown4">Usuarios<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/salir">Salir</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Inicio</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown5">Autores<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown6">Editoriales<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown7">Libros<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown8">Usuarios<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/salir">Salir</a></li>
      </ul>
    </div>
  </nav>
  {%block content%}
  {%endblock%}
</body>
</html>
