{%extends 'blog/base.html'%}
{%block content%}

<div id="libros" class="col s12">
  <table class="responsive-table bordered highlight centered">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Autores</th>
        <th>Editorial</th>
        <th>Fecha Publicacion</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      {%for libro in libros%}
      <tr>
      <td>{{libro.titulo}}</td>
      <td>
        {%for autor in libro.autores.all%}
        {{autor}}
        {%endfor%}
      </td>
      <td>{{libro.editorial}}</td>
      <td>{{libro.fecha_publicacion}}</td>
      <td><a href="https://www.paypal.com/gt/webapps/mpp/home">Comprar</a></td>
    </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

{%endblock%}
