{%extends 'blog/base.html'%}
{%block content%}

<p>Hola {{ usuario }}, bienvenido!</p>

<div class="row">
  <div class="col s12 m6 offset-m3 l4 offset-l4">
    <div class="card">
      <div class="card-image">
        <center><img src="http://previews.123rf.com/images/anwarsikumbang/anwarsikumbang1502/anwarsikumbang150200450/36649744-Mann-avatar-Nutzerfoto-Zeichentrickfigur-Vektor-Illustration-Lizenzfreie-Bilder.jpg" style="width:200px; height:200px;"></center>
      </div>
      <div class="card-content">
        <center>
        <span class="card-title">{{ usuario }}</span>
        <p>Grupos:
          {%for grupo in usuario.groups.all%}
          {{grupo}}
          {%endfor%}
        </p>
      </center>
      </div>
      <div class="card-action">
        <a href="/usuario/libros/listado">Ir a libros</a>
      </div>
    </div>
  </div>
</div>
{%endblock%}
